<index:>
  <div class="d-console" as="container" on-click="selectConsoleInput()" hidden="{{@hidden}}">
    <ul class="console-commands" as="list">
      {{each commands as #command}}
        <li class="command">
          <span class="console-dash">{{#command.pwd+'>'}}</span>
          <span class="command-text">{{#command.text}}</span>
          <pre class="command-result {{if #command.error}}command-error{{/if}}">{{stringify(#command.result)}}</pre>
        </li>
      {{/each}}
    </ul>
    {{if !waitingResult}}
      <form on-submit="newCommand()">
        <span class="console-dash console-dash-cursor">{{pwd+'>'}}</span>
        <input as="consoleInput" class="console-input" value="{{command}}" autofocus>
      </form>
    {{/if}}
  </div>