.d-console
  min-height 200px
  max-height 400px
  overflow auto

  li
    list-style none

  .console-dash
    color #00a104

  .console-dash-cursor
    color #c44000

  .console-input
    width 50%
    background transparent
    border 0
  .console-input:focus
    outline 0

  .command-error
    color red

  .command-result
    margin 4px 0 10px;
    padding 0;
    border none;
    background rgba(0, 0, 0, 0);