.line-chart
  width 600px

.monitor
  margin-top 10px

.monitor-header
  float: left

.monitor-tab
  cursor pointer

.monitor-tab.selected
  background #F5F6FF
  border 1px #79A1FC solid
  margin -1px
  cursor default

.monitor-body
  margin-left 5px
  padding-left 25px
  border-left 1px #BDBDBD solid
  float left

.gauge
  width 150px

.gauge-header
  text-align center
  width 100%
  color #939393
  font-size 20px
  margin-top 8px
  margin-bottom -6px

  .gauge-title

  .guage-info
    margin-left 5px


.line-chart-title
  padding 0
  margin-bottom 5px

.line-chart-header-small
  color grey
.line-chart-header-small.left
  float left
.line-chart-header-small.right
  float right