.line-chart
  width 100%
  max-width 600px

  canvas
    width 100%

.monitor
  /*margin-top 10px*/
  padding 10px 0
  width 100%
  min-height 100%
  display: inline-block;

.monitor-header
  float left
  width 160px
  height 100%
  padding 5px
  border-right 1px #BDBDBD solid
.monitor-tab
  cursor pointer
.monitor-tab.selected
  background #F5F6FF
  border 1px #79A1FC solid
  margin -1px
  cursor default

.monitor-body
  width calc(100% - 170px)
  /*margin-left 5px*/
  padding 0 25px
  float left
  position relative
  left -1px
  border-left 1px #BDBDBD solid

.gauge
  width 150px

.gauge-header
  text-align center
  width 100%
  color #939393
  font-size 20px
  margin-top 8px
  margin-bottom -6px

  .gauge-title

  .guage-info
    margin-left 5px


.line-chart-title
  padding 0
  margin-bottom 5px

.line-chart-header-small
  color grey
.line-chart-header-small.left
  float left
.line-chart-header-small.right
  float right

.monitor-disk
  max-width 800px
.monitor-disk-drive
  height 54px
  width 230px
  background #f7f7f7
  margin 0 8px 8px 0
  border 1px solid #dedede
  float left
  &:hover
    background #d1e8ff
  .drive-icon, .drive-info
    height 100%
    float left
  .drive-icon
    width 60px
    text-align center
    font-size 30px
    line-height 2
    color #686868
  .drive-info
    /*width 100%*/
    width calc(100% - 60px)
  .drive-title
    height 35%
    line-height 1.8
  .drive-bar
    height calc(30% - 2px)
    width calc(100% - 2px)
    border 1px solid #bcbcbc
    background #e6e6e6
  .bar-b
    height 100%
    background #28a1da
  .drive-label
    height 35%