.monitor-cpu
  height 100px
  width 50px
  position relative
  border #8F8F8F 2px solid

.monitor-cpu-body
  height 100%
  width 100%
  background #FFA2A2
  position absolute
  bottom 0

.gauge
  width 150px
  float left

.gauge-header
  text-align center
  width 100%
  color #939393
  font-size 20px
  margin-top 8px
  margin-bottom -6px

  .gauge-title

  .guage-info
    margin-left 5px
